@media only screen and (min-width: 768px) and (max-width: 2000px) {
  .categoriesPage {
    background-color: #f1edea;
  }
  .filters {
    /* Style for "back" */
    width: 1169px;
    height: 165px;
    background-color: #ffffff;
    margin-left: 50px !important;
    padding-top: 40px !important;
  }
  .colorDiv {
    width: 1100px;
    margin-left: 20px !important;
  }
  .color {
    width: 14px !important;
    height: 14px !important;
    margin-left: 5px;
    border-radius: 50px;
    border-style: none;
  }
  .categoryButton {
    /* Style for "back" */
    width: 197px !important;
    max-height: 32px !important;
    opacity: 0.5;
  }
  .mobileProductItem {
    display: none;
  }
  .Mobilefilters{
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .filters{
    display: none;
  }
  .categoriesPage {
    background-color: #f1edea;
    width: 400px !important;
  }
  .Mobilefilters {
    width: 291px;
    height: 400px;
    background-color: #ffffff;
    margin-left: 50px !important;
  }
  .color {
    width: 14px !important;
    height: 14px !important;
    margin-left: 5px;
    border-radius: 50px;
    border-style: none;
  }
  .filterRow {
    width: 100px !important;
  }
  .dropdown-toggle {
    margin: 5px;
  }
  .categoryButton {
    width: 198px;
    height: 32px;
    border-radius: 50px !important;
    opacity: 0.5;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: -20px !important;
  }
  .sortBy{
    margin-left: 15px !important;
    margin-top: 25px !important;
  }
  .lg-productItems {
    display: none;
  }
  .loadButton {
    /* Style for "back" */
    width: 153px;
    height: 37px;
    border: 2px solid #d9d9d9;
    background-color: #84bc22 !important;
    border-radius: 50px !important;
    margin: 50px;
  }
  .firstImg {
    margin-top: 30px;
    width: 300px;
    margin-left: 50px;
  }
  .staticContent h6 {
    /* Style for "Focus" */
    width: 57px;
    height: 15px;
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  .contentImg {
    display: flex;
    padding: 20px;
  }
}
